* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "SF Pro Display"; */
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background-color: #fff;
  color: #1d1d1f;
  font-weight: 400;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #1d1d1f;
}

ul {
  list-style: none;
}

/* Nav Bar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: saturate(1.8) blur(20px);
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a,
.navbar li {
  color: #000;
}

.navbar li {
  padding: 0 8px;
  opacity: 0.8;
}

.navbar li:hover {
  opacity: 1;
}

.navbar .link-text {
  font-size: 12px;
  letter-spacing: 0.01em;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* For the fixed navbar */

.empty-space {
  width: 100%;
  height: 44px;
  background-color: #fff;
}

/* Heroes */

.hero-1 {
  background: url("/img/jpg/hero/iphone-family/hero_iphone_family__be5jkzxszb1e_large_2x.jpg")
    no-repeat center center / cover;
}

.hero-2 {
  background: url("/img/jpg/hero/fathers-day/hero_fd26__c9vr0hxu24eq_large_2x.jpg")
    no-repeat center center / cover;
}

.hero-3 {
  background: url("/img/jpg/hero/apple-for-college/hero_college_students_2026__dzrtx52rt9aq_large_2x.jpg")
    no-repeat center center / cover;
}

/* Promos */
.promo-1 {
  background: url("/img/jpg/promo/macbook-m5/promo_macbook_air_m5__e5xk2yysqiie_large_2x.jpg")
    no-repeat center center / cover;
}

.promo-2 {
  background: url("/img/jpg/promo/ipad-air-m4/promo_ipad_air_m4__bgcv7t286k8y_large_2x.jpg")
    no-repeat center center / cover;
}

.promo-3 {
  background: url("/img/jpg/promo/macbook-pro/promo_macbook_pro__c9td9w1mc8ia_large_2x.jpg")
    no-repeat center center / cover;
  color: #fff;

}

.promo-4{
  background: url("/img/jpg/promo/apple-watch-series/promo_apple_watch_series_11__gnlwqxe1jlu2_large_2x.jpg")
    no-repeat center center / cover;
}

.promo-5 {
  background: url("/img/jpg/promo/apple-card-airpods/promo_apple_card_airpods__dpbuw4e90126_large_2x.jpg")
    no-repeat center center / cover;
}

.promo-6 {
  background: url("/img/jpg/promo/iphone-tradein/promo_iphone_tradein__e4hrjxmgmf0i_large_2x.jpg")
    no-repeat center center / cover;
}

.carousel-header {
  font-size: 56px;
  text-align: center;
  padding-top: 5px;
  font-family:
    "SF Pro Display",
    "SF Pro Icons",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
}


.carousel-container {
  width: 100%;
  padding: 40px 0;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
}

.carousel-container .carousel-track {
  display: flex;
  gap: 20px;

  animation: slideLeftTop 40s linear infinite alternate; 
}

.carousel-container .carousel-track:hover {
  animation-play-state: paused;
}

.carousel-image {
  width: 700px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  flex-shrink: 0;
}



.carousel-container-bottom {
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  overflow: hidden;
  display: flex; 
}

.carousel-container-bottom .carousel-track {
  display: flex;
  gap: 20px;
  /* Animates the bottom track independently */
  animation: slideLeftBottom 30s linear infinite alternate; 
}

.carousel-container-bottom .carousel-track:hover {
  animation-play-state: paused;
}

.carousel-image-bottom {
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  flex-shrink: 0;
}



@keyframes slideLeftTop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}


@keyframes slideLeftBottom {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw)); 
  }
}

footer {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.56);
  letter-spacing: -0.01em;
}

footer .container {
  padding: 17px 0 11px;
  flex-direction: column;
  border-bottom: rgba(0, 0, 0, 0.16) 1px solid;
  margin-bottom: 9px;
}

footer ol {
  list-style-type: decimal;
  margin-bottom: 9.6px;
  padding: 0 17px;
}

footer ol p {
  padding-top: 9.6px;
}

footer .massive-text ul {
  padding: 0 17px;
}

footer ul p {
  padding-bottom: 9.6px;
}

.colored-link-paragraph {
  margin-bottom: 8px;
}

.colored-link-paragraph a {
  text-decoration: underline;
  color: #0066cc;
}

.container.real-footer {
  display: flex;
  flex-direction: row;
  border: none;
}

.real-footer p {
  margin-right: 30px;
}

.real-footer p.state {
  margin-right: 0;
  margin-left: auto;
}

.real-footer a {
  padding: 0 9px;
}

.mobile-only {
  display: none;
}

.container#many-links {
  padding: 0 25px;
}

.massive-text.container {
  margin-bottom: 0;
}
